<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4 py-3" id="list-tab" role="tablist">

        <a class="list-group-item list-group-item-action active py-3" id="list-home-list" data-mdb-toggle="list"
          href="#list-home" role="tab" aria-controls="list-home"><i class="fas fa-tachometer-alt me-3"></i> Dashboard
        </a>
        <a class="list-group-item list-group-item-action py-3" id="list-profile-list" data-mdb-toggle="list"
          href="#list-profile" role="tab" aria-controls="list-profile"><i class="fas fa-plus-square me-3"></i>New Application</a>
        <a class="list-group-item list-group-item-action py-3" id="list-messages-list" data-mdb-toggle="list"
          href="#list-messages" role="tab" aria-controls="list-messages"><i class="fas fa-file me-3"></i>My
          Applicatons</a>
        <a class="list-group-item list-group-item-action py-3" id="list-verified-list" data-mdb-toggle="list"
          href="#list-verified" role="tab" aria-controls="list-verified"><i class="fas fa-check-square me-3"></i>
          Verified</a>
        <a class="list-group-item list-group-item-action py-3" id="list-settings-list" data-mdb-toggle="list"
          href="#list-settings" role="tab" aria-controls="list-settings"><i class="fas fa-certificate me-3"></i>
          Certificates</a>

      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand ms-5" href="#">
        <h2>Logo</h2>
      </a>
      <!-- Search form -->


      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->

        <!-- Avatar -->
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
            id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/dashboard"><i class="me-3 fas fa-user"></i>{{student.name}}</a>
            </li>
            <li>
              <a class="dropdown-item" href="/logout"><i class="me-3 fas fa-sign-out-alt"></i>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 70px;">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active p-3" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

      <div class="container py-3">

        <h3 class="text-center mb-5 mt-4">Personal Information</h3>
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{student.name}}</h5>
                <p class="text-muted mb-1">{{student.registerno}}</p>
                <p class="text-muted mb-1">Dept : {{student.department}}</p>
              </div>
            </div>

          </div>
          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{student.name}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{student.email}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{student.phoneno}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Class</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{student.class}}</p>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Roll no</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{student.rollno}}</p>
                  </div>
                </div>
                <hr>
                
                <div class="row">
                  <div class="col-sm-3">
                    <p class="mb-0">Gender</p>
                  </div>
                  <div class="col-sm-9">
                    <p class="text-muted mb-0">{{student.gender}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
      <hr class="my-5 " />
      <!-- Pills navs -->
      <div class="container">
        <h3 class="text-center pt-2 pb-4">Apply for a program </h3>

        <div class="alert alert-warning" role="alert">
          Provide all the fields with correct Information otherwise your application will rejected ! 
        </div>

        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
              aria-controls="pills-login" aria-selected="true">Solo</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
              aria-controls="pills-register" aria-selected="false">Group</a>
          </li>
        </ul>
        <!-- Pills navs -->

        <!-- Pills content -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

            <form action="/application" method="post">

              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="py-4">
                <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" name="name" required id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Full name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" name="regno" required id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Register number</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" name="phoneno" required id="form3Example1" class="form-control" />
                    <label class="form-label" for="form3Example1">Phone number</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" name="item" required id="form3Example2" class="form-control" />
                    <label class="form-label" for="form3Example2">Item</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-md-6">
                  <select name="class" class="form-select" required aria-label="Default select example">
                  
                    <option selected value="cs1">CS 1</option>
                    <option value="cs2">CS 2</option>
                    <option value="cs3">CS 3</option>
                    <option value="es1">ES 1</option>
                    <option value="es2">ES 2</option>
                    <option value="es3">ES 3</option>
                    <option value="ps1">PS 1</option>
                    <option value="ps2">PS 2</option>
                    <option value="ps3">PS 3</option>

                  </select>
                </div>
                
              </div>
              
                <input hidden type="text" name="programtype" id="" value="solo">
                <input hidden type="text" name="status" id="" value="pending">
                <input hidden type="text" name="message" id="" value="null">
                <input hidden type="text" name="mark1" id="" value="0">
                <input hidden type="text" name="mark2" id="" value="0">
                <input hidden type="text" name="mark3" id="" value="0">

              </div>



              <!-- Submit button -->
              <div class="col-md-4 mt-3 text-center">
                <button type="submit" class=" btn btn-success btn-block mb-4">Register</button>
              </div>

            </form>
          </div>
          <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
             <form action="/group-application" method="post">

                <div class="alert alert-info my-" role="alert">
                  <h5 class="text-center my-4">Instructions</h5>
                  <ul>
                    <li>Provide the register number of all members</li>
                    <li>Maximum 10 members are allows for the group performance</li>
                    <li>Only the group leader need to submit the application for group performance  </li>
                  </ul>
                </div>

               


              <!-- 2 column grid layout with text inputs for the first and last names -->

               <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input name="name" type="text" class="form-control" />
                      <label class="form-label" >Group leader name</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="leaderregno" type="text" class="form-control" />
                      <label class="form-label" >Group leader Register number</label>
                    </div>
                  </div>
                </div>

              <div class="py-2">
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="item" required class="form-control" />
                      <label class="form-label" >Item</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="phoneno" required id="form3Example2" class="form-control" />
                      <label class="form-label" >Phone number</label>
                    </div>
                  </div>
                </div>

                

                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member1" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">Member 1</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member2" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Member 2</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member3" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">Member 3</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member4" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Member 4</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member5" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">Member 5</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member6" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Member 6</label>
                    </div>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member7" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">Member 7</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member8" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Member 8</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member9" id="form3Example1" class="form-control" />
                      <label class="form-label" for="form3Example1">Member 9</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" name="member10" id="form3Example2" class="form-control" />
                      <label class="form-label" for="form3Example2">Member 10</label>
                    </div>
                  </div>
                </div>

      
              </div>

                <input hidden type="text" name="programtype" id="" value="group">
                <input hidden type="text" name="status" id="" value="pending">
                <input hidden type="text" name="message" id="" value="null">
                <input hidden type="text" name="mark1" id="" value="0">
                <input hidden type="text" name="mark2" id="" value="0">
                <input hidden type="text" name="mark3" id="" value="0">


              <!-- Submit button -->
              <div class="col-md-4 mt-3 text-center">
                <button type="submit" class=" btn btn-success btn-block mb-4">Register</button>
              </div>

            </form>
          </div>
        </div>
      </div>
      <!-- Pills content -->
    </div>


    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
      <hr class="my-5 " />
      <h3 class="text-center mb-5">Applied program details</h3>
      <div class="container">
        <div class="alert alert-warning" role="alert">
         <i class="fas fa-exclamation-circle me-2"></i> In case your application got rejected delete the application and create new 
        </div>
       <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Item</th>
              <th scope="col">Mode</th>
              <th scope="col">Status</th>
              <th scope="col">Any Message</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {{#each applications}}
              <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.item}}</td>
                <td>{{this.programtype}}</td>
                <td><a href="#" class="badge badge-primary">{{this.status}}</a></td>
                <td>{{this.message}}</td>
                <td><a href="/delete-application/{{this._id}}" class="btn btn-danger"> Delete </a></td>
              </tr>
           {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
      <hr class="my-5 " />
      <div class="container">
        <h3 class="text-center mb-4">Certificate Information</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Item</th>
              <th scope="col">Status</th>
              <th scope="col">Certificate</th>
             
            </tr>
          </thead>
          <tbody>
            {{#each completedApplications}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{this.item}}</td>
              <td>{{this.status}}</td>
              <td><a href="/certificate/{{this._id}}" class="btn btn-success">View</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

    </div>

     <div class="tab-pane fade" id="list-verified" role="tabpanel" aria-labelledby="list-verified-list">
      <hr class="my-5 " />
      <div class="container">
        <h3 class="text-center mb-4">Verified program details</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Item</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
              <th scope="col">Day</th>
              <th scope="col">Stage</th>
              <th scope="col">Time</th>
              <th scope="col">Chest no.</th>
             
            </tr>
          </thead>
          <tbody>
            {{#each verifiedApplications}}
            <tr>
              
              <th scope="row">{{@index}}</th>
              <td>{{this.item}}</td>
              <td>{{this.programtype}}</td>
              <td>{{this.status}}</td>
              <td>{{this.day}}</td>
              <td>{{this.stage}}</td>
              <td>{{this.time}}</td>
              <td>{{this.chestno}}</td>
              
            </tr>
            {{/each}}
           
          </tbody>
        </table>
      </div>

    </div>
    <div class="container pt-4">
      <hr class="my-5 " />
    </div>



</main>
<!--Main layout-->


{{!-- styles for dashboard --}}
<style>
  body {
    background-color: #fbfbfb;
  }

  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }

  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }

  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  .fa-user-circle {
    font-size: 25px;
    color: #fff;
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
  }

  * {
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    color: #00B7FF;
  }

  .navbar .nav-link {
    color: #fff !important;
  }

  li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .about-img {
    width: 350px;
  }
</style>