<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4 py-3" id="list-tab" role="tablist">

        <a class="list-group-item list-group-item-action active py-3" id="list-home-list" data-mdb-toggle="list"
          href="#list-home" role="tab" aria-controls="list-home"><i class="fas fa-tachometer-alt me-2"></i> Students</a>
        <a class="list-group-item list-group-item-action py-3" id="list-profile-list" data-mdb-toggle="list"
          href="#list-profile" role="tab" aria-controls="list-profile"><i class="fas fa-users me-2"></i>Participants</a>
        <a class="list-group-item list-group-item-action py-3" id="list-messages-list" data-mdb-toggle="list"
          href="#list-messages" role="tab" aria-controls="list-messages"><i class="fas fa-edit me-2"></i>
          Notifications</a>
        <a class="list-group-item list-group-item-action py-3" id="list-organiser-list" data-mdb-toggle="list"
          href="#list-organiser" role="tab" aria-controls="list-organiser"><i class="fas fa-people-carry me-2"></i>
          Organiser</a>

        <a class="list-group-item list-group-item-action py-3" id="list-settings-list" data-mdb-toggle="list"
          href="#list-settings" role="tab" aria-controls="list-settings"><i class="fas fa-poll me-2"></i> Result</a>


      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand ms-5" href="#">
        <div>
        <img class="asterica-logo" src="/images/asterica-log.png" alt="">
      </div>
    
      </a>
      <!-- Search form -->


      <!-- Right links -->
      <ul class="navbar-nav ms-auto d-flex flex-row">
        <!-- Notification dropdown -->

        <!-- Avatar -->
        <li class="nav-item dropdown me-3">
          <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
            id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle me-3"></i><span><b>Artsclub</b></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/artsclub/dashboard"><i class="fas fa-user me-3"></i>Artsclub</a>
            </li>
            <li>
              <a class="dropdown-item" href="/artsclub/logout"><i class="me-3 fas fa-sign-out-alt"></i>Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->
<main style="margin-top: 70px;">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active p-1" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
      <section class="text-center mt-2  container">

        <h3 class="my-5">All students List</h3>
        <div class="container">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Reg no</th>
                <th scope="col">Class</th>
                <th scope="col">Phone</th>
              </tr>
            </thead>
            <tbody>
              {{#each allStudents}}
              <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.registerno}}</td>
                <td>{{this.class}}</td>
                <td>{{this.phoneno}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>



      </section>
    </div>

    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
      <hr class="my-5 " />
      <section id="participants" class="container">
        <h2 class="text-center">Participants list</h2>

        <ul class="nav nav-pills mb-3" id="pills-tab2" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab2" data-mdb-toggle="pill" data-mdb-target="#pills-home2"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true">
              SOLO
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab2" data-mdb-toggle="pill" data-mdb-target="#pills-profile2"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
              GROUP
            </button>
          </li>
        </ul>
        {{!-- solo item pills --}}
        <div class="tab-content" id="pills-tabContent2">
          <div class="tab-pane fade show active" id="pills-home2" role="tabpanel" aria-labelledby="pills-home-tab2">

            {{!-- Solo item table --}}
            <div class="container">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Reg no</th>
                    <th scope="col">Status</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>

                  {{#each allSoloPerformance}}
                  <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.regno}}</td>
                    <td><span class="badge badge-pill badge-success">{{this.status}}</span></td>
                    <td><a href="/artsclub/verify-programs/{{this._id}}" class="btn btn-primary btn-rounded">View</a>
                    </td>
                  </tr>
                  {{/each}}

                </tbody>
              </table>
            </div>
            {{!-- solo item table ends --}}





          </div>
          {{!-- group pills --}}
          <div class="tab-pane fade" id="pills-profile2" role="tabpanel" aria-labelledby="pills-profile-tab2">

            {{!-- group Table --}}
            <div class="container">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Group Leader</th>
                    <th scope="col">Item</th>
                    <th scope="col">Status</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each allGroupPerformance}}
                  <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.item}}</td>
                    <td><span class="badge badge-pill badge-success">{{this.status}}</span></td>
                    <td><a href="/artsclub/verify-programs/{{this._id}}" class="btn btn-primary btn-rounded">View</a>
                    </td>
                  </tr>

                  {{/each}}

                </tbody>
              </table>



            </div>
            {{!-- end of roup table --}}
          </div>
          {{!-- <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-contact-tab2">
            Tab 3 content
          </div> --}}
        </div>
        {{!-- end of group pills --}}






      </section>
    </div>


    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
      <hr class="my-5 " />
      <div class="container ">
        <h3 class="text-center mb-4">Create a post</h3>
        <div class="d-flex justify-content-center ">

          <form action="/artsclub/new-post" method="post" class="col-md-10 shadow-1-strong rounded p-5">
            <div class="form-group mb-2">
              <label>Title</label>
              <input type="text" required name="title" class="form-control">
            </div>
            <div class="form-group">
              <label class="mb-2">Type a message here ...</label>
              <textarea name="message" class="form-control" rows="3"></textarea>
              <input required type="text" name="author" value="Artsclub_secratrary" hidden>
              <button type="submit" class="mt-4 btn btn-success">Submit</button>
            </div>
          </form>

        </div>
      </div>
      <div class="container mt-5 col-md-10">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
              <th scope="col">Message</th>
               <th scope="col">Date</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {{#each allPosts}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{this.title}}</td>
              <td>{{this.author}}</td>
              <td>{{this.message}}</td>
               <td>{{this.date}}</td>
              <td><a href="/artsclub/delete-post/{{this._id}}" class="btn btn-danger">Delete</a></td>

            </tr>
            {{/each}}

          </tbody>
        </table>

      </div>

      <hr class="my-5 " />

      <h3 class="text-center mb-4">Notice board</h3>
      <div class="d-flex justify-content-center">

        <form action="/artsclub/new-notice" method="post" class="col-md-10 shadow-1-strong rounded p-5">
          <div class="form-group">
            <label class="mb-2">Message</label>
            <textarea name="message" required class="form-control" rows="3"></textarea>
            <input required type="text" name="author" value="Artsclub_secratrary" hidden>
            <button type="submit" class="mt-4 btn btn-success">Submit</button>
          </div>
        </form>



      </div>
      <div class="container mt-5 col-md-10">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">content</th>
              <th scope="col">Author</th>
              <th scope="col">Date</th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            {{#each allNotice}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{this.message}}</td>
              <td>{{this.author}}</td>
              <td>{{this.date}}</td>
              <td><a href="/artsclub/delete-notice/{{this._id}}" class="btn btn-danger">Delete</a></td>

            </tr>
            {{/each}}

          </tbody>
        </table>

      </div>

    </div>

    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
      <hr class="my-5 " />
      <div class="container">
        <h3 class="text-center mb-5">Result statistics</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Student</th>
              <th scope="col">Item</th>
              <th scope="col">Mark 1</th>
              <th scope="col">Mark 2</th>
              <th scope="col">Mark 3</th>
              <th scope="col">Result</th>

            </tr>
          </thead>
          <tbody>
            {{#each results}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{this.name}}</td>
              <td>{{this.item}}</td>
              <td>{{this.mark1}}</td>
              <td>{{this.mark2}}</td>
              <td>{{this.mark3}}</td>

            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="list-organiser" role="tabpanel" aria-labelledby="list-organiser-list">
      <hr class="my-5 " />
      <div class="container">
        <h3 class="text-center mb-5 ">Organiser details</h3>
        <div class="container">
          <h5 class="mb-4 text-primary ">Add organiser</h5>
          <form action="/artsclub/add-organiser" method="post">

          <div class="row mb-3 ">
            <div class="form-group col-md-6">
              <label class="mb-2">Name</label>
              <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group col-md-6">
              <label class="mb-2">Phone no.</label>
              <input type="text" name="phoneno" class="form-control">
            </div>
          </div>
        <div class="row mb-3 ">
          <div class="form-group col-md-6">
            <label class="mb-2">Email</label>
            <input type="text" name="email" class="form-control">
          </div>
          <div class="form-group col-md-6">
            <label class="mb-2">Password</label>
            <input type="text" name="password" class="form-control">
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
          </form>
        </div>
 <hr class="my-5 " />
        <h5 class="my-4 text-primary" >Organiser information</h5>
         <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Name</th>
              <th scope="col">Phone no</th>
              <th scope="col">Email</th>
              <th scope="col">Password</th>
            </tr>
          </thead>
          <tbody>
            {{#each organisers}}
            <tr>
              <th scope="row">{{@index}}</th>
              <td>{{this.name}}</td>
              <td>{{this.phoneno}}</td>
              <td>{{this.email}}</td>
              <td>{{this.password}}</td>

            </tr>
            {{/each}}

          </tbody>
        </table>
         <hr class="my-5 " />
        <h5 class="my-4 text-primary" >Remove Organiser</h5>
        <form action="/artsclub/delete-organiser" method="post">
            <div class="col-md-4">
               <label class="">Email</label>
              <input type="text" class="form-control my-2" name="email" required id="">
            </div>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>



  </div>
  <div class="container pt-4">
    <hr class="my-5 " />
  </div>



</main>
<!--Main layout-->


{{!-- styles for dashboard --}}
<style>
    .asterica-logo{
        height: 50px;
    }
  body {
    background-color: #fbfbfb;
  }

  @media (min-width: 991.98px) {
    main {
      padding-left: 240px;
    }
  }

  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }

  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }

  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }

  .fa-user-circle {
    font-size: 25px;
    color: #fff;
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
  }

  * {
    font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    color: #00B7FF;
  }

  .navbar .nav-link {
    color: #fff !important;
  }

  li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  .about-img {
    width: 350px;
  }
</style>